<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Inicio de Sesion">


        <classes>
            <class name="IniciarSesion"/>
        </classes>
    </test>
    <test name="Credenciales Incorrectas">
        <classes>
            <class name="CredencialesIncorrectas"/>
        </classes>
    </test>
</suite>
